body
{
  background-image: url(img/bg2.jpg);
}

.heading
{
  width: 50%;
  margin: 30px auto;
  text-align: center;
  color: black;
  background: #FFF9DC;
  border: 2px solid #6B8E23;
  border-radius: 20px;



}

form{
  width: 50%;
  margin: 30px auto;
  border-radius: 5px;
  padding: 10px;
  background: #FFF8DC;
  border: 1px solid #6B8E23;

}
.task_input
{
  width: 73%;
  height: 15px;
  padding: 10px;
  border-radius: 2px solid #6B8E23;

}
.add_btn
{
  height: 39px;
  background: #FFF8DC;
  color: #6B8E23;
  border: 2px solid #6B8E23;
  border-radius: 5px;
  padding: 5px 20px;
}

table
{
  width: 50%;
  margin: 30px auto;
  border-collapse: collapse;

}

tr{
  border-bottom: 1px solid #cbcbcb;

}
th
{
  font-size: 19px;
  color: #6b8e23;
}
th,td
{
  border: none;
  height: 30px;
  padding: 2px;
}
tr:hover
{
  background: #E9E9E9;
}
.task{
  text-align: left;
}
.delete
{
  text-align: center;
}

.delete a{
  color:white;
  background: #a52a2a;
  padding: 1px 6px;
  border-radius: 3px;
  text-decoration: none;
}

button{
  background: #a52a2a;
  color: black;
}